.shiny-text {
  color: #ffffff;
  background: transparent;
  -webkit-background-clip: unset;
  background-clip: unset;
  -webkit-text-fill-color: #ffffff;
  display: inline-block;
  animation: none;
  transition: color 0.3s ease;
  font-weight: 900;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.inner-content:hover .shiny-text {
  color: #1e1e1e;
  background: transparent;
  -webkit-background-clip: unset;
  background-clip: unset;
  -webkit-text-fill-color: #1e1e1e;
}