.shiny-text {
  color: white;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
  transition: color 0.3s ease;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.inner-content:hover .shiny-text {
  color: #1e1e1e;
  background: transparent;
  -webkit-background-clip: unset;
  background-clip: unset;
  -webkit-text-fill-color: #1e1e1e;
}